button.button {
  display: inline-block;
  border: 0;
  cursor: pointer;
  color: $text-white;
  font-size: 14px;
  &-acount {
    background-color: transparent;
    padding: 19px 23px;
    border: 1.5px solid #777f96;
    border-radius: 4px;
  }
  &-search {
    height: 74px;
    padding: 27px 48px;
    background-color: $primary-color;
    color: $text-white;
    border-radius: 4px;
  }
}
