@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Bold.ttf");
}
